.App {
  font-size: 35pt;
  text-align: center;
  background: rgb(40, 134, 223);
  min-height: 90vh;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  color: white;
}

.App-footer {
  background-color: #282c34;
  min-height: 5vh;
  color: white;
}

.Button {
  font-size: 20pt;
}
