.Scoreboard {
  align-content: center;
  align-items: center;
  float: center;
}

.ScoreList {
  margin-top: 15px;
  padding: 25px;
  display: flexbox;
  flex-flow: column;
}

.ScoreItem {
  display: flex;
  border: 3px solid lightslategray;
  border-radius: 25px;
  margin: 4px;
}

.NameField {
  float: left;
  width: 50%;
  padding: 5px;
}
.ScoreField {
  width: 50%;
  text-align: right;
  padding: 5px;
  margin-right: 25px;
}

.ScoreList {
  background: lightblue;
}
