.Scoreboard {
  align-content: center;
  align-items: center;
  float: center;
}

.ScoreList {
  padding: 25px;
  display: flexbox;
  flex-flow: column;
}

.ScoreItem {
  display: flex;
  border: 1px solid lightslategray;
}

.NameField {
  float: left;
  width: 50%;
  padding: 5px;
}
.ScoreField {
  width: 50%;
  text-align: right;
  padding: 5px;
}

.ScoreList {
  background: lightblue;
}
